<div>
  <h2 id="page-heading" data-cy="SyllabusHeading">
    <span jhiTranslate="entMefpaiv2App.syllabus.home.title">Syllabi</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="entMefpaiv2App.syllabus.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-syllabus"
        [routerLink]="['/syllabus/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="entMefpaiv2App.syllabus.home.createLabel"> Create a new Syllabus </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="syllabi?.length === 0">
    <span jhiTranslate="entMefpaiv2App.syllabus.home.notFound">No syllabi found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="syllabi && syllabi.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nomSyllabus">
            <span jhiTranslate="entMefpaiv2App.syllabus.nomSyllabus">Nom Syllabus</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="syllabus">
            <span jhiTranslate="entMefpaiv2App.syllabus.syllabus">Syllabus</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="programme.nomProgram">
            <span jhiTranslate="entMefpaiv2App.syllabus.programme">Programme</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="matiere.intituleMatiere">
            <span jhiTranslate="entMefpaiv2App.syllabus.matiere">Matiere</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let syllabus of syllabi; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/syllabus', syllabus.id, 'view']">{{ syllabus.id }}</a>
          </td>
          <td>{{ syllabus.nomSyllabus }}</td>
          <td>
            <a
              *ngIf="syllabus.syllabus"
              (click)="openFile(syllabus.syllabus, syllabus.syllabusContentType)"
              jhiTranslate="entity.action.open"
              >open</a
            >
            <span *ngIf="syllabus.syllabus">{{ syllabus.syllabusContentType }}, {{ byteSize(syllabus.syllabus) }}</span>
          </td>
          <td>
            <div *ngIf="syllabus.programme">
              <a [routerLink]="['/programme', syllabus.programme?.id, 'view']">{{ syllabus.programme?.nomProgram }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="syllabus.matiere">
              <a [routerLink]="['/matiere', syllabus.matiere?.id, 'view']">{{ syllabus.matiere?.intituleMatiere }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/syllabus', syllabus.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/syllabus', syllabus.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(syllabus)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="syllabi && syllabi.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
