<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="note">
      <h2 data-cy="noteDetailsHeading"><span jhiTranslate="entMefpaiv2App.note.detail.title">Note</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ note.id }}</span>
        </dd>
        <dt><span jhiTranslate="entMefpaiv2App.note.uneNote">Une Note</span></dt>
        <dd>
          <span>{{ note.uneNote }}</span>
        </dd>
        <dt><span jhiTranslate="entMefpaiv2App.note.apprenant">Apprenant</span></dt>
        <dd>
          <div *ngIf="note.apprenant">
            <a [routerLink]="['/apprenant', note.apprenant?.id, 'view']">{{ note.apprenant?.nom }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="entMefpaiv2App.note.evaluation">Evaluation</span></dt>
        <dd>
          <div *ngIf="note.evaluation">
            <a [routerLink]="['/evaluation', note.evaluation?.id, 'view']">{{ note.evaluation?.nomEvalu }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/note', note.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
