<div>
  <h2 id="page-heading" data-cy="FiliereHeading">
    <span jhiTranslate="entMefpaiv2App.filiere.home.title">Filieres</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="entMefpaiv2App.filiere.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-filiere"
        [routerLink]="['/filiere/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="entMefpaiv2App.filiere.home.createLabel"> Create a new Filiere </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="filieres?.length === 0">
    <span jhiTranslate="entMefpaiv2App.filiere.home.notFound">No filieres found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="filieres && filieres.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nomFiliere">
            <span jhiTranslate="entMefpaiv2App.filiere.nomFiliere">Nom Filiere</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="niveauQualif">
            <span jhiTranslate="entMefpaiv2App.filiere.niveauQualif">Niveau Qualif</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="autreFiliere">
            <span jhiTranslate="entMefpaiv2App.filiere.autreFiliere">Autre Filiere</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="autreQualif">
            <span jhiTranslate="entMefpaiv2App.filiere.autreQualif">Autre Qualif</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="etablissement.nomEtab">
            <span jhiTranslate="entMefpaiv2App.filiere.etablissement">Etablissement</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let filiere of filieres; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/filiere', filiere.id, 'view']">{{ filiere.id }}</a>
          </td>
          <td jhiTranslate="{{ 'entMefpaiv2App.NomFiliere.' + filiere.nomFiliere }}">{{ filiere.nomFiliere }}</td>
          <td jhiTranslate="{{ 'entMefpaiv2App.Qualification.' + filiere.niveauQualif }}">{{ filiere.niveauQualif }}</td>
          <td>{{ filiere.autreFiliere }}</td>
          <td>{{ filiere.autreQualif }}</td>
          <td>
            <div *ngIf="filiere.etablissement">
              <a [routerLink]="['/etablissement', filiere.etablissement?.id, 'view']">{{ filiere.etablissement?.nomEtab }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/filiere', filiere.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/filiere', filiere.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(filiere)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="filieres && filieres.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
