<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-serie-heading" data-cy="SerieCreateUpdateHeading" jhiTranslate="entMefpaiv2App.serie.home.createOrEditLabel">
        Create or edit a Serie
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="entMefpaiv2App.serie.nomSerie" for="field_nomSerie">Nom Serie</label>
          <select class="form-control" name="nomSerie" formControlName="nomSerie" id="field_nomSerie" data-cy="nomSerie">
            <option [ngValue]="null">{{ 'entMefpaiv2App.NomSerie.null' | translate }}</option>
            <option *ngFor="let nomSerie of nomSerieValues" [value]="nomSerie">
              {{ 'entMefpaiv2App.NomSerie.' + nomSerie | translate }}
            </option>
          </select>
          <div *ngIf="editForm.get('nomSerie')!.invalid && (editForm.get('nomSerie')!.dirty || editForm.get('nomSerie')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('nomSerie')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="entMefpaiv2App.serie.autreSerie" for="field_autreSerie">Autre Serie</label>
          <input
            type="text"
            class="form-control"
            name="autreSerie"
            id="field_autreSerie"
            data-cy="autreSerie"
            formControlName="autreSerie"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="entMefpaiv2App.serie.etablissement" for="field_etablissement">Etablissement</label>
          <select
            class="form-control"
            id="field_etablissement"
            data-cy="etablissement"
            name="etablissement"
            formControlName="etablissement"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                etablissementOption.id === editForm.get('etablissement')!.value?.id
                  ? editForm.get('etablissement')!.value
                  : etablissementOption
              "
              *ngFor="let etablissementOption of etablissementsSharedCollection; trackBy: trackEtablissementById"
            >
              {{ etablissementOption.nomEtab }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
