<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-contenu-heading" data-cy="ContenuCreateUpdateHeading" jhiTranslate="entMefpaiv2App.contenu.home.createOrEditLabel">
        Create or edit a Contenu
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="entMefpaiv2App.contenu.nomContenu" for="field_nomContenu">Nom Contenu</label>
          <input
            type="text"
            class="form-control"
            name="nomContenu"
            id="field_nomContenu"
            data-cy="nomContenu"
            formControlName="nomContenu"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="entMefpaiv2App.contenu.contenu" for="field_contenu">Contenu</label>
          <div>
            <div *ngIf="editForm.get('contenu')!.value" class="form-text text-danger clearfix">
              <a
                class="pull-start"
                (click)="openFile(editForm.get('contenu')!.value, editForm.get('contenuContentType')!.value)"
                jhiTranslate="entity.action.open"
                >open</a
              ><br />
              <span class="pull-start"
                >{{ editForm.get('contenuContentType')!.value }}, {{ byteSize(editForm.get('contenu')!.value) }}</span
              >
              <button
                type="button"
                (click)="editForm.patchValue({ contenu: null }); editForm.patchValue({ contenuContentType: null })"
                class="btn btn-secondary btn-xs pull-end"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input
              type="file"
              id="file_contenu"
              data-cy="contenu"
              (change)="setFileData($event, 'contenu', false)"
              jhiTranslate="entity.action.addblob"
            />
          </div>
          <input type="hidden" class="form-control" name="contenu" id="field_contenu" data-cy="contenu" formControlName="contenu" />
          <input
            type="hidden"
            class="form-control"
            name="contenuContentType"
            id="field_contenuContentType"
            formControlName="contenuContentType"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
