<div>
  <h2 id="page-heading" data-cy="SeanceHeading">
    <span jhiTranslate="entMefpaiv2App.seance.home.title">Seances</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="entMefpaiv2App.seance.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-seance"
        [routerLink]="['/seance/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="entMefpaiv2App.seance.home.createLabel"> Create a new Seance </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="seances?.length === 0">
    <span jhiTranslate="entMefpaiv2App.seance.home.notFound">No seances found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="seances && seances.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="jourSeance">
            <span jhiTranslate="entMefpaiv2App.seance.jourSeance">Jour Seance</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dateSeance">
            <span jhiTranslate="entMefpaiv2App.seance.dateSeance">Date Seance</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dateDebut">
            <span jhiTranslate="entMefpaiv2App.seance.dateDebut">Date Debut</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dateFin">
            <span jhiTranslate="entMefpaiv2App.seance.dateFin">Date Fin</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="contenu.nomContenu">
            <span jhiTranslate="entMefpaiv2App.seance.contenu">Contenu</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="cours.libelleCours">
            <span jhiTranslate="entMefpaiv2App.seance.cours">Cours</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="salle.libelleSalle">
            <span jhiTranslate="entMefpaiv2App.seance.salle">Salle</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="groupe.nomGroupe">
            <span jhiTranslate="entMefpaiv2App.seance.groupe">Groupe</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let seance of seances; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/seance', seance.id, 'view']">{{ seance.id }}</a>
          </td>
          <td jhiTranslate="{{ 'entMefpaiv2App.Jour.' + seance.jourSeance }}">{{ seance.jourSeance }}</td>
          <td>{{ seance.dateSeance | formatMediumDate }}</td>
          <td>{{ seance.dateDebut | formatMediumDatetime }}</td>
          <td>{{ seance.dateFin | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="seance.contenu">
              <a [routerLink]="['/contenu', seance.contenu?.id, 'view']">{{ seance.contenu?.nomContenu }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="seance.cours">
              <a [routerLink]="['/cours', seance.cours?.id, 'view']">{{ seance.cours?.libelleCours }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="seance.salle">
              <a [routerLink]="['/salle', seance.salle?.id, 'view']">{{ seance.salle?.libelleSalle }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="seance.groupe">
              <a [routerLink]="['/groupe', seance.groupe?.id, 'view']">{{ seance.groupe?.nomGroupe }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/seance', seance.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/seance', seance.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(seance)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="seances && seances.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
