<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-syllabus-heading" data-cy="SyllabusCreateUpdateHeading" jhiTranslate="entMefpaiv2App.syllabus.home.createOrEditLabel">
        Create or edit a Syllabus
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="entMefpaiv2App.syllabus.nomSyllabus" for="field_nomSyllabus">Nom Syllabus</label>
          <input
            type="text"
            class="form-control"
            name="nomSyllabus"
            id="field_nomSyllabus"
            data-cy="nomSyllabus"
            formControlName="nomSyllabus"
          />
          <div *ngIf="editForm.get('nomSyllabus')!.invalid && (editForm.get('nomSyllabus')!.dirty || editForm.get('nomSyllabus')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('nomSyllabus')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="entMefpaiv2App.syllabus.syllabus" for="field_syllabus">Syllabus</label>
          <div>
            <div *ngIf="editForm.get('syllabus')!.value" class="form-text text-danger clearfix">
              <a
                class="pull-start"
                (click)="openFile(editForm.get('syllabus')!.value, editForm.get('syllabusContentType')!.value)"
                jhiTranslate="entity.action.open"
                >open</a
              ><br />
              <span class="pull-start"
                >{{ editForm.get('syllabusContentType')!.value }}, {{ byteSize(editForm.get('syllabus')!.value) }}</span
              >
              <button
                type="button"
                (click)="editForm.patchValue({ syllabus: null }); editForm.patchValue({ syllabusContentType: null })"
                class="btn btn-secondary btn-xs pull-end"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input
              type="file"
              id="file_syllabus"
              data-cy="syllabus"
              (change)="setFileData($event, 'syllabus', false)"
              jhiTranslate="entity.action.addblob"
            />
          </div>
          <input type="hidden" class="form-control" name="syllabus" id="field_syllabus" data-cy="syllabus" formControlName="syllabus" />
          <input
            type="hidden"
            class="form-control"
            name="syllabusContentType"
            id="field_syllabusContentType"
            formControlName="syllabusContentType"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="entMefpaiv2App.syllabus.programme" for="field_programme">Programme</label>
          <select class="form-control" id="field_programme" data-cy="programme" name="programme" formControlName="programme">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="programmeOption.id === editForm.get('programme')!.value?.id ? editForm.get('programme')!.value : programmeOption"
              *ngFor="let programmeOption of programmesSharedCollection; trackBy: trackProgrammeById"
            >
              {{ programmeOption.nomProgram }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="entMefpaiv2App.syllabus.matiere" for="field_matiere">Matiere</label>
          <select class="form-control" id="field_matiere" data-cy="matiere" name="matiere" formControlName="matiere">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="matiereOption.id === editForm.get('matiere')!.value?.id ? editForm.get('matiere')!.value : matiereOption"
              *ngFor="let matiereOption of matieresSharedCollection; trackBy: trackMatiereById"
            >
              {{ matiereOption.intituleMatiere }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
