<div>
  <h2 id="page-heading" data-cy="InspecteurHeading">
    <span jhiTranslate="entMefpaiv2App.inspecteur.home.title">Inspecteurs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="entMefpaiv2App.inspecteur.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-inspecteur"
        [routerLink]="['/inspecteur/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="entMefpaiv2App.inspecteur.home.createLabel"> Create a new Inspecteur </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="inspecteurs?.length === 0">
    <span jhiTranslate="entMefpaiv2App.inspecteur.home.notFound">No inspecteurs found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="inspecteurs && inspecteurs.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nom"><span jhiTranslate="entMefpaiv2App.inspecteur.nom">Nom</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="prenom">
            <span jhiTranslate="entMefpaiv2App.inspecteur.prenom">Prenom</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="email">
            <span jhiTranslate="entMefpaiv2App.inspecteur.email">Email</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="adresse">
            <span jhiTranslate="entMefpaiv2App.inspecteur.adresse">Adresse</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="telephone">
            <span jhiTranslate="entMefpaiv2App.inspecteur.telephone">Telephone</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="sexe">
            <span jhiTranslate="entMefpaiv2App.inspecteur.sexe">Sexe</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="photo">
            <span jhiTranslate="entMefpaiv2App.inspecteur.photo">Photo</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="user.login">
            <span jhiTranslate="entMefpaiv2App.inspecteur.user">User</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let inspecteur of inspecteurs; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/inspecteur', inspecteur.id, 'view']">{{ inspecteur.id }}</a>
          </td>
          <td>{{ inspecteur.nom }}</td>
          <td>{{ inspecteur.prenom }}</td>
          <td>{{ inspecteur.email }}</td>
          <td>{{ inspecteur.adresse }}</td>
          <td>{{ inspecteur.telephone }}</td>
          <td jhiTranslate="{{ 'entMefpaiv2App.Sexe.' + inspecteur.sexe }}">{{ inspecteur.sexe }}</td>
          <td>
            <a *ngIf="inspecteur.photo" (click)="openFile(inspecteur.photo, inspecteur.photoContentType)">
              <img
                [src]="'data:' + inspecteur.photoContentType + ';base64,' + inspecteur.photo"
                style="max-height: 30px"
                alt="inspecteur image"
              />
            </a>
            <span *ngIf="inspecteur.photo">{{ inspecteur.photoContentType }}, {{ byteSize(inspecteur.photo) }}</span>
          </td>
          <td>
            {{ inspecteur.user?.login }}
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/inspecteur', inspecteur.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/inspecteur', inspecteur.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(inspecteur)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="inspecteurs && inspecteurs.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
