<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="cours">
      <h2 data-cy="coursDetailsHeading"><span jhiTranslate="entMefpaiv2App.cours.detail.title">Cours</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ cours.id }}</span>
        </dd>
        <dt><span jhiTranslate="entMefpaiv2App.cours.libelleCours">Libelle Cours</span></dt>
        <dd>
          <span>{{ cours.libelleCours }}</span>
        </dd>
        <dt><span jhiTranslate="entMefpaiv2App.cours.matiere">Matiere</span></dt>
        <dd>
          <div *ngIf="cours.matiere">
            <a [routerLink]="['/matiere', cours.matiere?.id, 'view']">{{ cours.matiere?.intituleMatiere }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="entMefpaiv2App.cours.classe">Classe</span></dt>
        <dd>
          <div *ngIf="cours.classe">
            <a [routerLink]="['/classe', cours.classe?.id, 'view']">{{ cours.classe?.titre }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="entMefpaiv2App.cours.professeur">Professeur</span></dt>
        <dd>
          <div *ngIf="cours.professeur">
            <a [routerLink]="['/professeur', cours.professeur?.id, 'view']">{{ cours.professeur?.nom }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="entMefpaiv2App.cours.syllabus">Syllabus</span></dt>
        <dd>
          <div *ngIf="cours.syllabus">
            <a [routerLink]="['/syllabus', cours.syllabus?.id, 'view']">{{ cours.syllabus?.nomSyllabus }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/cours', cours.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
