<br /><br />

<div class="row">
  <div class="col-md-2">
    <!-- <span class="hipster img-fluid rounded"></span> -->
  </div>

  <div class="col-md-8">
    <h3>
      Environnement Numérique de Travail du Ministère de l'Emploi, de la Formation professionnelle, de l'Apprentissage et de l'Insertion
    </h3>
    <div class="blog">
      <!-- <div class="col-md-2"></div> -->
      <div class="owl-carousel owl-theme blog-post">
        <div class="blog-content">
          <img src="../../content/images/post1.jpg" alt="post-1" />
          <div class="blog-title">
            <br />
            <h5>Apprenant/Parent</h5>
            <br />
            <button class="btn btn-blog" [ngSwitch]="account !== null">
              <div *ngSwitchCase="true">
                <!-- <span
                    id="home-logged-message"
                    *ngIf="account"
                    jhiTranslate="home.logged.message"
                    [translateValues]="{ username: account.login }"
                    >You are logged in as user "{{ account.login }}".</span
                  > -->
              </div>

              <div *ngSwitchCase="false">
                <!-- <span jhiTranslate="global.messages.info.authenticated.prefix"> </span> -->
                <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign in</a>
              </div>
            </button>
          </div>
        </div>
        <div class="blog-content">
          <img src="../../content/images/post2.jpg" alt="post-2" />
          <div class="blog-title">
            <br />
            <h5>Professeur</h5>
            <br />
            <!-- <li
              *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_PROFESSEUR']"
                ngbDropdown
                class="nav-item dropdown pointer"
                display="dynamic"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
              > -->
            <button class="btn btn-blog" [ngSwitch]="account !== null">
              <div *ngSwitchCase="true">
                <!-- <span
                    id="home-logged-message"
                    *ngIf="account"
                    jhiTranslate="home.logged.message"
                    [translateValues]="{ username: account.login }"
                    >You are logged in as user "{{ account.login }}".</span
                  > -->
              </div>

              <div *ngSwitchCase="false">
                <!-- <span jhiTranslate="global.messages.info.authenticated.prefix"> </span> -->
                <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign in</a>
              </div>
            </button>
            <!-- </li> -->
          </div>
        </div>
        <div class="blog-content">
          <img src="../../content/images/logo1.jpg" alt="post-3" />
          <div class="blog-title">
            <br />
            <h5>Personnel Administratif</h5>
            <button class="btn btn-blog" [ngSwitch]="account !== null">
              <div *ngSwitchCase="true">
                <!-- <span  class="alert alert-dismissible alert-primary"
                    id="home-logged-message"
                    *ngIf="account"
                    jhiTranslate="home.logged.message"
                    [translateValues]="{ username: account.login }"
                    >You are logged in as user "{{ account.login }}".</span
                  > -->
              </div>

              <div *ngSwitchCase="false">
                <!-- <span jhiTranslate="global.messages.info.authenticated.prefix"> </span> -->
                <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign in</a>
              </div>
            </button>
          </div>
        </div>
      </div>
      <br />
    </div>
    <br />
    <div [ngSwitch]="account !== null">
      <div class="alert alert-dismissible alert-light" *ngSwitchCase="false">
        <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>&nbsp;
        <a class="alert-link" routerLink="account/register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
      </div>
      <br /><br />
    </div>
  </div>
</div>
