/*Font familly Abel*/
@font-face {
  font-family: Abel;
  src: url(../fonts/Abel/Abel-Regular.ttf);
}

/*Font familly Anton*/
@font-face {
  font-family: Anton;
  src: url(../fonts/Anton/Anton-Regular.ttf);
}

/*Font familly Josefin_Sans*/
@font-face {
  font-family: Josefin;
  src: url(../fonts/Josefin_Sans/JosefinSans-Regular.ttf);
}

/*Font familly Lexend*/
@font-face {
  font-family: Lexend;
  src: url(../fonts/Lexend_Deca/LexendDeca-Regular.ttf);
}

/*Font familly Livvic*/
@font-face {
  font-family: Livvic;
  src: url(../fonts/Livvic/Livvic-Regular.ttf);
}
