<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="directeur">
      <h2 data-cy="directeurDetailsHeading"><span jhiTranslate="entMefpaiv2App.directeur.detail.title">Directeur</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ directeur.id }}</span>
        </dd>
        <dt><span jhiTranslate="entMefpaiv2App.directeur.nom">Nom</span></dt>
        <dd>
          <span>{{ directeur.nom }}</span>
        </dd>
        <dt><span jhiTranslate="entMefpaiv2App.directeur.prenom">Prenom</span></dt>
        <dd>
          <span>{{ directeur.prenom }}</span>
        </dd>
        <dt><span jhiTranslate="entMefpaiv2App.directeur.email">Email</span></dt>
        <dd>
          <span>{{ directeur.email }}</span>
        </dd>
        <dt><span jhiTranslate="entMefpaiv2App.directeur.adresse">Adresse</span></dt>
        <dd>
          <span>{{ directeur.adresse }}</span>
        </dd>
        <dt><span jhiTranslate="entMefpaiv2App.directeur.telephone">Telephone</span></dt>
        <dd>
          <span>{{ directeur.telephone }}</span>
        </dd>
        <dt><span jhiTranslate="entMefpaiv2App.directeur.sexe">Sexe</span></dt>
        <dd>
          <span jhiTranslate="{{ 'entMefpaiv2App.Sexe.' + directeur.sexe }}">{{ directeur.sexe }}</span>
        </dd>
        <dt><span jhiTranslate="entMefpaiv2App.directeur.photo">Photo</span></dt>
        <dd>
          <div *ngIf="directeur.photo">
            <a (click)="openFile(directeur.photo, directeur.photoContentType)">
              <img
                [src]="'data:' + directeur.photoContentType + ';base64,' + directeur.photo"
                style="max-width: 100%"
                alt="directeur image"
              />
            </a>
            {{ directeur.photoContentType }}, {{ byteSize(directeur.photo) }}
          </div>
        </dd>
        <dt><span jhiTranslate="entMefpaiv2App.directeur.user">User</span></dt>
        <dd>
          <span>{{ directeur.user?.login }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/directeur', directeur.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
