<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="serie">
      <h2 data-cy="serieDetailsHeading"><span jhiTranslate="entMefpaiv2App.serie.detail.title">Serie</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ serie.id }}</span>
        </dd>
        <dt><span jhiTranslate="entMefpaiv2App.serie.nomSerie">Nom Serie</span></dt>
        <dd>
          <span jhiTranslate="{{ 'entMefpaiv2App.NomSerie.' + serie.nomSerie }}">{{ serie.nomSerie }}</span>
        </dd>
        <dt><span jhiTranslate="entMefpaiv2App.serie.autreSerie">Autre Serie</span></dt>
        <dd>
          <span>{{ serie.autreSerie }}</span>
        </dd>
        <dt><span jhiTranslate="entMefpaiv2App.serie.etablissement">Etablissement</span></dt>
        <dd>
          <div *ngIf="serie.etablissement">
            <a [routerLink]="['/etablissement', serie.etablissement?.id, 'view']">{{ serie.etablissement?.nomEtab }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/serie', serie.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
