<div>
  <h2 id="page-heading" data-cy="AbsenceHeading">
    <br />
    <span jhiTranslate="entMefpaiv2App.absence.home.title">Absences</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="entMefpaiv2App.absence.home.refreshListLabel">Refresh List</span>
      </button>
      <li
        *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_PROFESSEUR', 'ROLE_SURVEILLANT']"
        ngbDropdown
        class="nav-item dropdown pointer"
        display="dynamic"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <button
          id="jh-create-entity"
          data-cy="entityCreateButton"
          class="btn btn-primary jh-create-entity create-absence"
          [routerLink]="['/absence/new']"
        >
          <fa-icon icon="plus"></fa-icon>
          <span jhiTranslate="entMefpaiv2App.absence.home.createLabel"> Create Absence </span>
        </button>
      </li>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="absences?.length === 0">
    <span jhiTranslate="entMefpaiv2App.absence.home.notFound">No absences found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="absences && absences.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <!-- <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> </th> -->
          <th scope="col" jhiSortBy="motif">
            <span jhiTranslate="entMefpaiv2App.absence.motif">Motif</span>
          </th>
          <th scope="col" jhiSortBy="seance.id">
            <span jhiTranslate="entMefpaiv2App.absence.seance">Seance</span>
          </th>
          <th scope="col" jhiSortBy="apprenant.nom">
            <span jhiTranslate="entMefpaiv2App.absence.apprenant">Apprenant</span>
          </th>
          <th scope="col" jhiSortBy="evaluation.nomEvalu">
            <span jhiTranslate="entMefpaiv2App.absence.evaluation">Evaluation</span>
          </th>
          <th scope="col" jhiSortBy="justifie">
            <span jhiTranslate="entMefpaiv2App.absence.justifie">Justifie</span>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let absence of absences; trackBy: trackId" data-cy="entityTable">
          <!-- <td>
            <a [routerLink]="['/absence', absence.id, 'view']">{{ absence.id }}</a>
          </td> -->
          <td>{{ absence.motif }}</td>

          <td>
            <div *ngIf="absence.seance">
              <a [routerLink]="['/seance', absence.seance?.id, 'view']">{{ absence.seance?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="absence.apprenant">
              <a [routerLink]="['/apprenant', absence.apprenant?.id, 'view']">{{ absence.apprenant?.nom }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="absence.evaluation">
              <a [routerLink]="['/evaluation', absence.evaluation?.id, 'view']">{{ absence.evaluation?.nomEvalu }}</a>
            </div>
          </td>
          <td>{{ absence.justifie }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/absence', absence.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <li
                *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_PROFESSEUR', 'ROLE_SURVEILLANT']"
                ngbDropdown
                class="nav-item dropdown pointer"
                display="dynamic"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                <button
                  type="submit"
                  [routerLink]="['/absence', absence.id, 'edit']"
                  class="btn btn-primary btn-sm"
                  data-cy="entityEditButton"
                >
                  <fa-icon icon="pencil-alt"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                </button>
              </li>
              <li
                *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_PROFESSEUR', 'ROLE_SURVEILLANT']"
                ngbDropdown
                class="nav-item dropdown pointer"
                display="dynamic"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                <button type="submit" (click)="delete(absence)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                  <fa-icon icon="times"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                </button>
              </li>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="absences && absences.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
