<div>
  <h2 id="page-heading" data-cy="InspectionHeading">
    <span jhiTranslate="entMefpaiv2App.inspection.home.title">Inspections</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="entMefpaiv2App.inspection.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-inspection"
        [routerLink]="['/inspection/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="entMefpaiv2App.inspection.home.createLabel"> Create a new Inspection </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="inspections?.length === 0">
    <span jhiTranslate="entMefpaiv2App.inspection.home.notFound">No inspections found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="inspections && inspections.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nomInspec">
            <span jhiTranslate="entMefpaiv2App.inspection.nomInspec">Nom Inspec</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="typeInspec">
            <span jhiTranslate="entMefpaiv2App.inspection.typeInspec">Type Inspec</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="email">
            <span jhiTranslate="entMefpaiv2App.inspection.email">Email</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="telephone">
            <span jhiTranslate="entMefpaiv2App.inspection.telephone">Telephone</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="commune.nomCom">
            <span jhiTranslate="entMefpaiv2App.inspection.commune">Commune</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="inspecteur.nom">
            <span jhiTranslate="entMefpaiv2App.inspection.inspecteur">Inspecteur</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let inspection of inspections; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/inspection', inspection.id, 'view']">{{ inspection.id }}</a>
          </td>
          <td>{{ inspection.nomInspec }}</td>
          <td jhiTranslate="{{ 'entMefpaiv2App.TypeInspec.' + inspection.typeInspec }}">{{ inspection.typeInspec }}</td>
          <td>{{ inspection.email }}</td>
          <td>{{ inspection.telephone }}</td>
          <td>
            <div *ngIf="inspection.commune">
              <a [routerLink]="['/commune', inspection.commune?.id, 'view']">{{ inspection.commune?.nomCom }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="inspection.inspecteur">
              <a [routerLink]="['/inspecteur', inspection.inspecteur?.id, 'view']">{{ inspection.inspecteur?.nom }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/inspection', inspection.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/inspection', inspection.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(inspection)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="inspections && inspections.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
