<div>
  <h2 id="page-heading" data-cy="ProgrammeHeading">
    <span jhiTranslate="entMefpaiv2App.programme.home.title">Programmes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="entMefpaiv2App.programme.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-programme"
        [routerLink]="['/programme/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="entMefpaiv2App.programme.home.createLabel"> Create a new Programme </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="programmes?.length === 0">
    <span jhiTranslate="entMefpaiv2App.programme.home.notFound">No programmes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="programmes && programmes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nomProgram">
            <span jhiTranslate="entMefpaiv2App.programme.nomProgram">Nom Program</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="contenuProgram">
            <span jhiTranslate="entMefpaiv2App.programme.contenuProgram">Contenu Program</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="annee">
            <span jhiTranslate="entMefpaiv2App.programme.annee">Annee</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="filiere.nomFiliere">
            <span jhiTranslate="entMefpaiv2App.programme.filiere">Filiere</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="serie.nomSerie">
            <span jhiTranslate="entMefpaiv2App.programme.serie">Serie</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let programme of programmes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/programme', programme.id, 'view']">{{ programme.id }}</a>
          </td>
          <td>{{ programme.nomProgram }}</td>
          <td>
            <a
              *ngIf="programme.contenuProgram"
              (click)="openFile(programme.contenuProgram, programme.contenuProgramContentType)"
              jhiTranslate="entity.action.open"
              >open</a
            >
            <span *ngIf="programme.contenuProgram"
              >{{ programme.contenuProgramContentType }}, {{ byteSize(programme.contenuProgram) }}</span
            >
          </td>
          <td>{{ programme.annee | formatMediumDate }}</td>
          <td>
            <div *ngIf="programme.filiere">
              <a [routerLink]="['/filiere', programme.filiere?.id, 'view']">{{ programme.filiere?.nomFiliere }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="programme.serie">
              <a [routerLink]="['/serie', programme.serie?.id, 'view']">{{ programme.serie?.nomSerie }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/programme', programme.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/programme', programme.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(programme)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="programmes && programmes.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
