<div>
  <h2 id="page-heading" data-cy="SurveillantHeading">
    <span jhiTranslate="entMefpaiv2App.surveillant.home.title">Surveillants</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="entMefpaiv2App.surveillant.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-surveillant"
        [routerLink]="['/surveillant/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="entMefpaiv2App.surveillant.home.createLabel"> Create a new Surveillant </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="surveillants?.length === 0">
    <span jhiTranslate="entMefpaiv2App.surveillant.home.notFound">No surveillants found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="surveillants && surveillants.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nom">
            <span jhiTranslate="entMefpaiv2App.surveillant.nom">Nom</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="prenom">
            <span jhiTranslate="entMefpaiv2App.surveillant.prenom">Prenom</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="email">
            <span jhiTranslate="entMefpaiv2App.surveillant.email">Email</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="adresse">
            <span jhiTranslate="entMefpaiv2App.surveillant.adresse">Adresse</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="telephone">
            <span jhiTranslate="entMefpaiv2App.surveillant.telephone">Telephone</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="sexe">
            <span jhiTranslate="entMefpaiv2App.surveillant.sexe">Sexe</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="photo">
            <span jhiTranslate="entMefpaiv2App.surveillant.photo">Photo</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="user.login">
            <span jhiTranslate="entMefpaiv2App.surveillant.user">User</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let surveillant of surveillants; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/surveillant', surveillant.id, 'view']">{{ surveillant.id }}</a>
          </td>
          <td>{{ surveillant.nom }}</td>
          <td>{{ surveillant.prenom }}</td>
          <td>{{ surveillant.email }}</td>
          <td>{{ surveillant.adresse }}</td>
          <td>{{ surveillant.telephone }}</td>
          <td jhiTranslate="{{ 'entMefpaiv2App.Sexe.' + surveillant.sexe }}">{{ surveillant.sexe }}</td>
          <td>
            <a *ngIf="surveillant.photo" (click)="openFile(surveillant.photo, surveillant.photoContentType)">
              <img
                [src]="'data:' + surveillant.photoContentType + ';base64,' + surveillant.photo"
                style="max-height: 30px"
                alt="surveillant image"
              />
            </a>
            <span *ngIf="surveillant.photo">{{ surveillant.photoContentType }}, {{ byteSize(surveillant.photo) }}</span>
          </td>
          <td>
            {{ surveillant.user?.login }}
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/surveillant', surveillant.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/surveillant', surveillant.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(surveillant)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="surveillants && surveillants.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
